@import "tailwindcss";


/* Calendar Custom Styles */
.rbc-calendar {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}

.rbc-toolbar {
  background: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  color: #4b5563;
}

.rbc-event {
  background-color: #4f46e5 !important;
  border: none;
  border-radius: 0.375rem;
  padding: 2px 6px;
}

.rbc-today {
  background-color: #eef2ff !important;
}
